.cont {
  margin-top: 5rem;
}
.exp_cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  transition: var(--transition);
}

.exp_cont > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.exp_cont > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.exp_cont > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.exp_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.exp_details {
  display: flex;
  gap: 1rem;
}


.exp_details-icons {
  margin-top: 6px;
  color: var(--color-primary);
}


/* media querry  (medium)*/

@media screen and (max-width: 1024px) {
  .exp_cont {
    grid-template-columns: 1fr;
  }
  .exp_cont > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .exp_content {
    padding: 1rem;
  }
}

/*==== media querry  (small devives) ==== */

@media screen and (max-width: 600px) {
 .exp_cont {
   gap: 1rem;
 }

 .exp_cont > div {
   width: 100%;
   padding: 2rem 1rem;
 }
}